<div aria-hidden="true" class="modal fade" id="modalLihatPegawai" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header bg-info text-white">
<h5 class="modal-title"><i class="fas fa-eye"></i> Detail Pegawai</h5>
<button class="btn-close btn-close-white" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
<table class="table table-bordered table-striped">
<tbody>
<tr>
<th width="30%">Nama Lengkap</th>
<td id="lihat_nama"></td>
</tr>
<tr>
<th>NIP / NI PPPK</th>
<td id="lihat_nip"></td>
</tr>
<tr>
<th>Status Pegawai</th>
<td id="lihat_statusPegawai"></td>
</tr>
<tr>
<th>Agama</th>
<td id="lihat_agama"></td>
</tr>
<tr>
<th>Jabatan</th>
<td id="lihat_jabatan"></td>
</tr>
<tr>
<th>Unit Kerja</th>
<td id="lihat_unitKerja"></td>
</tr>
<tr>
<th>Golongan / Ruang</th>
<td id="lihat_golongan"></td>
</tr>
<tr>
<th>Pendidikan Terakhir</th>
<td id="lihat_pendidikan"></td>
</tr>
<tr>
<th>TMT Jabatan</th>
<td id="lihat_tmtJabatan"></td>
</tr>
<tr>
<th>Gaji Pokok</th>
<td id="lihat_gajiPokok"></td>
</tr>
<tr>
<th>Status Kepegawaian</th>
<td><span class="badge bg-success" id="lihat_statusKepegawaian"></span></td>
</tr>
</tbody>
</table>
</div>
<div class="modal-footer">
<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Tutup</button>
</div>
</div>
</div>
</div>