<div aria-hidden="true" class="modal fade" id="modalLihatKGB" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header bg-info text-white">
<h5 class="modal-title"><i class="fas fa-eye"></i> Detail Gaji Berkala</h5>
<button class="btn-close btn-close-white" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
<table class="table table-sm table-borderless">
<tr>
<th width="40%">Nama Pegawai</th>
<td id="lihatKgbNama"></td>
</tr>
<tr>
<th>Status Pegawai</th>
<td id="lihatKgbStatus"></td>
</tr>
<tr>
<th>Gaji Pokok Lama</th>
<td id="lihatKgbGapok"></td>
</tr>
<tr>
<th>TMT Berkala Lama</th>
<td id="lihatKgbTmtLama"></td>
</tr>
<tr>
<th>TMT Selanjutnya</th>
<td id="lihatKgbTmtBaru"></td>
</tr>
<tr>
<th>Status KGB</th>
<td id="lihatKgbStatusKGB"></td>
</tr>
</table>
</div>
<div class="modal-footer">
<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Tutup</button>
</div>
</div>
</div>
</div>